.about{
    background-color: var(--container-color);
}
.about__container{
    row-gap: 2rem;
    padding-block:2rem;
}
.about__data{
    position:relative;
    text-align:center;
}
.about__data .section__title{
    margin-bottom: 2rem;
}
.about__description{
    margin-bottom: 2rem;
}
.about__sticker{
    width: 40px;
    position:absolute;
    right:0;
    bottom: 2rem;
}
.about__img{
    filter:var(--shadow-big-img);
    width: 320px;
    justify-self: center;
}
/* ================medium devices ============ */

@media screen and (min-width:576px) {
    .about__container{
        grid-template-columns: 380px;
        justify-content: center;
    }
}
@media screen and (min-width:1150px){
    .about__container{
        grid-template-columns: 450px 440px;
        align-items: center;
        column-gap: 6rem;
    }
    .about__img{
        order:-1;
        width: 450px;
    }
    .about__data{
        text-align: initial;
    }
    .about__data,.section__title{
        margin-bottom: 1.5rem;
        text-align: initial;
    }
    .about__description{
        margin-bottom: 3.5rem;
    }
    .about__sticker{
        width: 50px;
        right: 6rem;
        bottom: 4rem;
    }
}