.home__container{
    padding-block: 2rem 3rem;
    row-gap: 7rem;
}
.home__data{
    position: relative;
    text-align: center;
}
.home__title{
    font-size: var(--biggest-font-size);
}
.home__description{
    margin-block:1rem 2rem;
}
.home__sticker_1, .home__sticker_2{
    width: 40px;
    position: absolute;
    opacity: 0.7;
}
.home__sticker_1{
    right:0.75rem;
    bottom: 2rem;
    rotate: 30deg;
}
.home__sticker_2{
    left:2.5rem;
    bottom: -4.5rem;
}
:global(.button){
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem 1.5rem;
    font-weight: var(--font-semi-bold);
    border-radius: 4rem;
    box-shadow: 0 8px 24px hsla(353, 100%, 40%, 0.4);
    transition: backcolor 0.4s;
}
.button:hover{
    background-color: var(--first-color-alt);
}
.home__img{
    position: relative;
    margin-block:3rem ;
    display: grid;
    justify-content: center;
    justify-self: center;
}
.home__ingredient{
    width: 60px;
    filter: var(--shadow-small-img);
    position: absolute;
    z-index: 2;
}
.home__board,.home__pizza{
    filter:var(--shadow-big-img);
}
.home__pizza{
    width:300px;
    z-index: 2;
}
.home__board{
    width: 300px;
    position: absolute;
    bottom: -0.5rem;
    left: -0.15rem;
}
.home__leaf_1{
    right:8rem;
    top:-2rem;

}
.home__pepperoni{
    right:-0.5rem;
    top:2rem;
}
.home__mushroom{
    right:-0.5rem;
    bottom:2rem;
}
.home__olive{
    left:8rem;
    bottom:-1rem;

}
.home__leaf_2{
    left:-0.5rem;
    bottom:2rem;
}
.home__tomato{
    left:-0.5rem;
    top:2rem;
}
/* ================Small devices ============ */
@media screen and (max-width:320px){

    .home__img{
        width: 280px;
    }
}
/* ================medium devices ============ */

@media screen and (min-width:576px) {
    .home__container{
        grid-template-columns: 380px;
        justify-content: center;
    }
}