.product__container{
    padding-top: 3.5rem;
    grid-template-columns: repeat(2,1fr);
    gap:5rem 1.5rem;
}
.product__card{
    position: relative;
    background-color: var(--container-color);
    padding:5rem 0.75rem 1.25rem 0.75rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 16px hsla(353,100%,8%,0.1);
}
.product__img{
    width: 120px;
    position: absolute;
    top:-3.5rem;
    left:0;
    right:0;
    margin:0 auto;
    filter: var(--shadow-small-img);
    transition: transform 0.4s;
}
.product__name{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}
.product__price{
    font-family: var(--second-font);
    font-size: var(--h1-font-size);
    line-height: 120%;
    color: var(--first-color);
    margin-bottom: 1rem;
}
.product__btn{
    position: absolute;
    right: 0.75rem;
    bottom: 1.25rem;
    background-color: var(--first-color);
    color: var(--white-color);
    padding:4px;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    display: inline-flex;
    box-shadow: 0 4px 16px hsla(353,100%,8%,0.1);
    cursor: pointer;
    transition: background-color 0.4s;
}
.product__btn:hover{
    background-color: var(--first-color-alt);
}
.product__card:hover .product__img{
    transform:translateY(-0.5rem)
}